.container {
  width: 50%;
  height: 100%;
  background-color: #38cec4;
  text-align: center;

  color: white;
  font-size: 40px;

}

.week {
  padding-top: 10%;
  font-weight: 100;
}

.day {
  padding-top: 20%;
  font-size: 10rem;
}
